@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,200;1,400;1,500&display=swap');
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;

}
body {
	margin: 0;
	padding: 0;
	/*background-color: #f8f9fa;*/
}
.navbar {
    position:fixed !important;
    top:0;
    left: 0;
    right: 0;
    z-index: 1;
}
#banner {
    width: 100%;
    height: 100%;
    display: flex;
    padding:0px 133px;
    position:relative;

}


#banner .box-left ,#banner .box-right {
    width: 50%;
}

#banner  .box-left h2 {
    font-size:48px;
    padding-top:75px;
    color:#fff;
}

#banner .box-left p {
    color:#D0D0D0;
    padding-top: 24px;
}

#banner .box-left button {

    width: 191px;
    height: 40px;
    margin:41px;
    background:#332175;
    border:none;
    outline:none;
    color:#fff;
    font-weight: bold;
    border-radius: 20px;
    transition:0.4s;
}

#banner .box-left button:hover {
    background:orange;
}

#banner .box-right {
    padding-left:200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#banner .box-right img {
    margin:0px 10px;
    animation :animation 3s infinite linear;
}


#banner .box-right img:nth-child(1)
{
    animation-delay: 0.5s;
}
#banner .box-right img:nth-child(2)
{

    animation-delay: 1s;
}

@keyframes animation {
    0%{
        transform:translateY(0px);
    }
    50%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(0px);
    }

}

.to-bottom {
    position:absolute;
    bottom:-40px;
    left:50%;
    transform:translateX(-50%);
}

#wp-products1 {
    padding-top:116px;
   /*  padding-bottom: 10px; */
    padding-left:134px;
    padding-right:134px;
    text-align: center;
    margin-bottom: 76px;
    font-size:32px;
    color:#626a67;
}

#wp-products1 h2 {
    text-align: center;
    margin-bottom: 76px;
    font-size:32px;
    color:#626a67;
}



.card{
	background:#362f2f !important;
}
.card:hover{
	background-color:#444343 !important;
}
.card-body img{

    margin: 0px auto;
    margin-top: 17px;
}
.card-body .name{
	text-align: center;
    color: #fff;
    font-weight: bold;
    margin-top: 21px;
    overflow: hidden;
  	white-space: nowrap;
  	text-overflow: ellipsis;
}
.card-body .author{
	text-align: center;
    color: #ccc;
    margin: 10px 0;
}
.card-body .price{
	text-align: center;
    color: #f42424;
    font-weight: bold;
    margin: 10px 0 15px;
}
.card-body .btn{
	margin: 0 10px;
}




.footer__bottom {
    display: block; /* Đặt thành block */
    text-align: center; /* Để căn giữa theo chiều ngang */

    margin: 0 auto; /* Để căn giữa theo chiều ngang */
    padding-top: 8px; /* Để căn giữa theo chiều dọc */

}
